<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="master.css" media="screen" title="no title">
    <title>Login</title>
  </head>
  <body>
      <div class="container">
          <div class="row">
                <div class="col-xs-12">
                    <div class="panel-body">
                      <form id = "loginform" class="form" action="login.php" method="post">
                            <fieldset>
                              <legend>Log in</legend>
                                <label for="username">Username</label>
                                <input type="text" placeholder="username" name="username" value="">
                                <br>
                                <br>
                                <label for="password">Password</label>
                                <input type="password" name="password" placeholder="enter password">
                                <br>
                                <br>
                                <label for="password">Password</label>
                                <input type="button" class="btn btn-primary" name="Login" value="Sign in" onclick="">
                                <br>
                                <br>
                                <label for="agree">Do you agree with our terms and conditions?</label>
                                <input type="checkbox" name="checkbox" value = "agree"/>
                            </fieldset>
                      </form>

                    </div>
                    <div class="panel-body">
                      Don't have an account? <a href="register.html">register here</a> as a new user.
                      <br>Click here if you <a href="Changepsw.html">forgot password</a>.
                    </div>
                </div>
          </div>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
