
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="master.css" media="screen" title="no title">
    <title>User Profile</title>
  </head>
  <body>
      <div class="container">
        <div class="row">
            <div class="panel-body">
              <h1>Random_user's Profile</h1>
              <div class="col-sm-4">
                <a href="Changepsw.html">Change password</a>
              </div>
              <div class="col-sm-4">
                <div class="profile_pic">
                  <img src="" alt="" />
                </div>
                <div class="bio">
                      Don't follow me, im doing this ironically
                </div>
                <button id="follow" type="button" class="btn btn-primary" name="Follow" onclick="">Follow</button>
              </div>
              <div class="col-sm-4">
                <div class="profile_stats">
                  <label id="upvotes" for="upvotes">upvotes</label>
                  <br>
                  <label id="downvotes" for="downvotes">downvotes</label>
                  <br>
                  <label id = "followers" for="followers">followers</label>
                  <br>
                  <label id = "following "for="following">following</label>

                </div>
              </div>
            </div>
        </div>

      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
