{% extends "layout.html" %}
{% block body %}
 
    <div id="topics">
        
        <h2>Pick a topic</h2>
    
        <ul>
          <li><button href="" onclick="">Life</button></li>
          <li><button href="" onclick="">School</button></li>
          <li><button href="" onclick="">Taxes</button></li>
        </ul>
    
    </div>
    
    <div id="questions_list">
        <h2>Questions:</h2>
        
        <div class="panel">
            <label id="topic1">Topic 1</label>
            <p id="Q1">Question1</p>
        </div>
        
        <div class="panel">
            <label id="topic2">Topic 2</label>
            <p id="Q2">Question2</p>
        </div>
        
        <div class="panel">
            <label id="topic3">Topic 3</label>
            <p id="Q3">Question3</p>
        </div>
        
        <div class="panel">
            <label id="topic4">Topic 4</label>
            <p id="Q4">Question4</p>
        </div>
        
        <div class="panel">
            <label id="topic5">Topic 5</label>
            <p id="Q5">Question5</p>
        </div>
    
    </div>

{% endblock %}