<!DOCTYPE HTML>
<html lang = "en">
<head>
  <title>Ask and follow Topics</title>
  <meta charset = "UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    
    <h2>Pick a topic</h2>

        <ul>
          <li><button href="" onclick="">Life</button></li>
          <li><button href="" onclick="">School</button></li>
          <li><button href="" onclick="">Taxes</button></li>
        </ul>

    <h3>Current topic: </h3>
    <p id="topic"></p>
    <button type="submit" class="follow_topic" onclick="submit_follow_topic()">Follow Topic</button>
    <br>
         <textarea name="ask" form="ask_q">Ask question here...</textarea> 
    
         <form id="ask_q">
                  <button type="submit" class="ask_q" onclick="">Ask</button>
         </form>
  
</body>
</html>